body {
    list-style: none;
}

.nav-link {
    font-size: 28px;
    color: black;
}

.navbar {
    z-index: 1;
    height: 100px;
}



/* body{

        background-image:url(../img/VCG211364568256.webp);
        width: 100%;
        height: 100%;

        background-position: center center;

        background-repeat: no-repeat;

        background-attachment: fixed;

        background-size: cover;
        background-size:1600px 800px;
   
        background-color: #464646;
} */

.box1 {
    background-color: #BAC3AB;
    width: 100%;
    height: 1000px;

}


.shell {
    width: 90%;
    height: 500px;
    display: flex;
    margin: 0 auto;

}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    border: 10px solid #fff;
    background-color: #fff;
}

.box>a>img {
    width: 200%;
    height: 85%;
    object-fit: cover;
    transition: 1.5s;
}

.box>span {
    font: 200 45px '优设标题黑';
    text-align: center;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    flex-basis: 40%;
}

.box>a:hover>img {
    width: 100%;
    height: 100%;
}

.jieshao {
    width: 110%;
    margin: 0 auto;
}

.jieshao img {
    width: 110%;
    height: 100%;
    margin-left: -15px;
    object-fit: cover;

}

.img_box {
    height: 350px;
    overflow: hidden;
}

.bg-image {
    background-image: url('../img/文化.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.carousel-control-next {
    height: 100px;
    margin-top: 320px;
}

.carousel-control-prev {
    height: 100px;
    margin-top: 320px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    margin-top: -125px;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: black;
    /* text-shadow: 2px 2px 4px #000; */
    margin-top: 20%;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-top: 5%;
}

.navbar {
    background-color: none;
}

.content {
    margin-top: 10%;
    margin-bottom: 10%;
}

.card {
    background-color: #fff;
    border: none;
    height: 300px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #fff;
    border-bottom: none;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.card-body {
    font-size: 1.2rem;
    color: #666;
    height: 250px;
    width: 220px;
    overflow: hidden;
}

.card-body img {
    height: 300px;
    width: 250px;
}

.p1 {
    font-size: 22px;
    color: black;
    font-weight: 600;
}

.modal-content {
    width: 1000px;
    max-width: 600px;
}

.carousel-control-next-icon {
    color: yellow;
}


.carousel-item {
    height: 750px;

}

.carousel-inner {
    margin-top: -120px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.img1 {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.img1 img {
    width: 1200px;
}

#meishi {
    /* 加载背景图 */
    background-image: url(../img/美食bg.jpg);
    /* 背景图垂直、水平均居中 */
    background-position: center 120%;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;
    margin-top: -150px;
}

#myNav ul {
    margin: 0 auto;
}

#myNav ul li {
    margin-left: 80px;
}

.footer ul li a {
    color: black;
}

.list {
    position: relative;
    width: 710px;
    border-top: 2px solid black;
    float: left;
}

.list li a {
    color: black;
    font-size: 20px;
    line-height: 50px;
}

.list .date {
    position: absolute;
    right: 0px;
}



.cord2 {
    width: 50%;

    float: right;
}

.card-group {
    margin-top: 50px;
}

h1 {
    margin-top: 100px;
}

p {
    width: 90%;
    margin: 0 auto;
}

#jingju {
    /* 加载背景图 */
    background-image: url(../img/戏曲.jpg);
    /* 背景图垂直、水平均居中 */
    background-position: center 120%;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;


    height: 100vh;
}